<section id="projektai">
    <div class="container">
        {{> _msg}}
        <h2>Projektai</h2>

        {{#each projects}}
        <div class="project-wrap">
            <div class="project-info">
                <a href="/projects/{{id}}">
                    <img class='project-primary-img' src="{{image}}">
                </a>
                <div class="project-logos">
                    <img class='project-logo-img' src="{{logoOne}}">
                    <img class='project-logo-img' src="{{logoTwo}}">
                </div>

                {{#if ../user}}
                <div class="project-logos">
                    <a href="/projects/edit/{{id}}" class="project-edit">Redaguoti</a>
                    <form action="/projects/{{id}}?_method=DELETE" method="post">
                        <input type="submit" value="Ištrinti" class="project-delete">
                    </form>
                </div>
                {{/if}}

            </div>
            <div class="project-content">
                <a href="/projects/{{id}}">
                    <h3>{{title}}</h3>
                </a>
                <div class="project-details">
                    <h4>Number</h4>
                    <p>{{number}}</p>

                    <h4>Duration</h4>
                    <p>{{duration}}</p>

                    <h4>Partners</h4>
                    <p>{{{partners}}}</p>
                </div>
                {{#if completed}}
                <h4><i class="fas fa-check"></i> Įgyvendintas</h4>
                {{/if}}
            </div>
        </div>

        <hr>
        {{else}}
        <p>Projektų nėra</p>
        {{/each}}

    </div>
</section>