<section class="projects" id="projects">
    <h2 class="heading-2">{{project.title}}</h2>

    {{> _msg}}

    <div class="project">
        <div class="project__visuals">
            <img src="{{project.image}}" alt="Project image" class="project__img">
            <div class="project__logo">
                <img src="{{project.logoOne}}" alt="Project logo" class="project__logo--1">
                <img src="{{project.logoTwo}}" alt="Project logo" class="project__logo--2">
            </div>

            {{#if user}}
            <div class="project__buttons">
                <a class="form__submit" href="/projects/edit/{{project.id}}">Redaguoti</a>
                <form action="/projects/{{project.id}}?_method=DELETE" method="post">
                    <input class="form__submit" type="submit" value="Ištrinti">
                </form>
            </div>
            {{/if}}

            {{#if project.completed}}
            <div class="project__completed">
                <svg class="project__icon">
                    <use xlink:href="/img/symbol-defs.svg#icon-bookmark"></use>
                </svg>
                <h5 class="project__heading">
                    Įgyvendintas
                </h5>
            </div>
            {{/if}}

        </div>
        <div class="project__details">
            <h5 class="project__heading">Number</h5>
            <p class="project__info">{{project.number}}</p>
            <h5 class="project__heading">Duration</h5>
            <p class="project__info">{{project.duration}}</p>
            <h5 class="project__heading">Partners</h5>
            <div class="project__info">{{{project.partners}}}</div>
            <h5 class="project__heading project__heading--summary">Summary</h5>
            <div class="project__info">{{{project.body}}}</div>

            <div>
                <a class='project__back form__submit' href="/">Atgal</a>
            </div>

        </div>
    </div>

</section>